[{geoheap,
  [
   %% Needed for the pubsubhubbub callback
   {base_url, "http://geoheap.com:8080/"},

   %% Twitter API credentials
   {twitter_username, "test"},
   {twitter_password, "test"},
   {twitter_apifilter, "locations=3.762817,50.790195,7.113647,53.388134&track=radar"}, % track bounding box of the Netherlands, plus the "radar" keyword.

   %% Instagram API credentials
   {instagram_client_id, "asdf"},
   {instagram_client_secret, "asdf"},
   {instagram_locations, 
    [{4.913635, 52.376829, 5000}, %% amsterdam center
     {4.959254, 52.309619, 5000}, %% bijlmer
     {4.756479, 52.307611, 5000} %% schiphol
    ]}
  ]}
].
