.do_timebar {
    overflow: hidden;
    cursor: move;
    position: relative;
}

.do_timebar div.inner {
    width: 100%;
}

.do_timebar div.inner div.bars {
    padding: 0 30px;
}

.do_timebar div.inner div,
.do_timebar div.inner img,
.do_timebar div.inner {
    position: absolute;
}

.do_timebar div.inner img.bracket {
    width: 30px;
    height: 60px;
    top: 0;
}
img.bracket-left {
    cursor: e-resize;
}
img.bracket-right {
    cursor: w-resize;
}

.do_timebar div.inner div.legend {
    width: 100%;
    height: 36px;
    top: 64px;
}
.do_timebar div.inner div.legend span {
    position: absolute;
}
.do_timebar div.inner div.legend span.right {
    text-align: right;
}

.do_timebar div.inner div.curtain {
    background: rgba(255,255,255,0.5);
    height: 60px;
}

.timebar {
    width: 100%;
    height: 80px;
}




#stats {
    margin-top: 10px;
}

html,body {height: 100%; overflow: hidden;}
#map {
    width: 100%;
    height: 100%;
}
#map img { /* bootstrap fix */
    max-width: none;
}

.widget {
    background: white;
    position: absolute;
    padding: 10px;
    border-radius: 1px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}


.barContainer {
    padding-bottom: 0;
    right: 7px;
    left: 7px;
    margin: auto;
    bottom: 7px;
}

.filtertool {
    bottom: 128px;
    right: 7px;
    width: 220px;
}

.filtertool h3 {
    line-height: 18px;
}

.navbar {
    margin: 0;
}
.navbar form,
.filtertool form {
    margin: 0;
}


@media (max-width:500px) {
    .barContainer {
        padding-bottom: 0;
        right: 0; left: 0; bottom: 0;
        margin: auto;
    }

    .filtertool {
        bottom: 100px;
    }
}
div.infowindow-container {
  max-width: 300px;
  padding: 0 0 10px 0;
}  
div.infowindow-header {
  width:100%;
  margin: 0 0 3px 0;
}
div.infowindow-header a {
  text-decoration: underline;
  color:#333;
}
div.infowindow-header a:hover {
  text-decoreation: underline;
  color:#5d9000;
}
div.infowindow-timestamp {
  font-size: 12px;
  line-height: 15px;
  margin: 0 0 6px 0;
}
img.infowindow-image {
  margin: 0 0 6px 0;
  padding: 0;
  border: 0;
  height: 150px;
}
div.infowindow-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}
div.infowindow-text a {
  text-decoration: none;
  color: #5d9000;
}
div.infowindow-text a:hover {
  text-decoration: underline;
  color: #5d9000;
}

