.do_timebar {
    overflow: hidden;
    cursor: move;
    position: relative;
}

.do_timebar div.inner {
    width: 100%;
}

.do_timebar div.inner div,
.do_timebar div.inner img,
.do_timebar div.inner {
    position: absolute;
}

.do_timebar div.inner img.bracket {
    width: 30px;
    height: 60px;
    top: 0;
}
img.bracket-left {
    cursor: e-resize;
}
img.bracket-right {
    cursor: w-resize;
}

.do_timebar div.inner div.legend {
    width: 100%;
    height: 40px;
    top: 60px;
}
.do_timebar div.inner div.legend span {
    position: absolute;
}
.do_timebar div.inner div.legend span.right {
    text-align: right;
}

.do_timebar div.inner div.curtain {
    background: rgba(255,255,255,0.5);
    height: 60px;
}

.timebar {
    width: 100%;
    height: 100px;
}

html,body {height: 100%;}
#map {
    width: 100%;
    height: 100%;
}

.widget {
    background: white;
    border-radius: 5px;
    position: absolute;
    padding: 10px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}



.barContainer {
    padding-bottom: 0;
    right: 2em;
    left: 2em;
    margin: auto;
    bottom: 2em;
}

.filtertool {
    top: 5em;
    right: 2em;
    width: 220px;
}


.filtertool form {
    margin: 0;
}